Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
MongoDB over SQL databases?

Answer 1: 
MongoDB is a popular open-source document-oriented NoSQL database that is designed to handle large volumes of unstructured and semi-structured data. It uses a JSON-like format to store data, which allows for dynamic schemas that can evolve over time.

Non-relational databases, or NoSQL databases, are a type of database that does not rely on a fixed schema or table structure like traditional relational databases. They are designed to handle large volumes of unstructured and semi-structured data and are often used in scenarios where scalability, flexibility, and speed are more important than transactional consistency.

MongoDB is often preferred over SQL databases in scenarios where there is a need to store and query large volumes of unstructured or semi-structured data, such as social media feeds, sensor data, or machine logs. It offers greater flexibility and scalability than SQL databases and can handle a wide variety of data types and structures without requiring a predefined schema. Additionally, MongoDB is often used in web applications that require high performance and horizontal scaling, as it is designed to work well with cloud computing environments and can easily scale horizontally across multiple servers.

Q2. State and Explain the features of MongoDB.

Answer 2:
Here are some of the key features of MongoDB:

Dynamic schema: MongoDB uses a dynamic schema, which means that the structure of the database can evolve over time without requiring a fixed schema or predefined table structure. This makes it easy to work with unstructured and semi-structured data.

Document-oriented: MongoDB stores data in a document-oriented format using JSON-like documents, which can contain multiple fields and nested structures. This makes it easy to work with complex and hierarchical data.

Scalability: MongoDB is designed to be highly scalable, both vertically and horizontally. It can easily scale horizontally across multiple servers to handle large volumes of data.

High performance: MongoDB is designed to be fast and efficient, with built-in features like indexing and caching to improve performance. It can also take advantage of modern hardware like solid-state drives and multi-core processors.

Flexible querying: MongoDB offers a flexible querying language that supports complex queries, aggregations, and joins across multiple collections. It also supports full-text search and geospatial queries.

High availability: MongoDB is designed to be highly available, with features like automatic failover, replication, and sharding to ensure that the database is always accessible and resilient to failures.

Ad hoc queries: MongoDB allows you to query and analyze data on the fly, without needing to define a schema or structure beforehand. This makes it easy to explore and experiment with your data.

Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [ ]:
#pip install pymongo

Requirement already satisfied: pymongo in /opt/conda/lib/python3.10/site-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /opt/conda/lib/python3.10/site-packages (from pymongo) (2.3.0)
Note: you may need to restart the kernel to use updated packages.

In [13]:
#Answer 3: 
# code to connect MongoDB to Python   
import pymongo
client = pymongo.MongoClient("mongodb+srv://pwskills:pwskills@cluster0.oiv1wbf.mongodb.net/?retryWrites=true&w=majority")
db = client.test

#created a database 'students'
db = client['students']

#created a collection 'total_marks'
col_students = db["total_marks"]

Q4. Using the database and the collection created in question number 3, write a code to insert one record,
and insert many records. Use the find() and find_one() methods to print the inserted record.

In [14]:
#Answer 4: 
# created one record
one_student_record = {"name" : "summi" ,                           
        "class" :3 ,
        "age" : 8}

In [15]:
# code to insert one record
col_students.insert_one(one_student_record)

In [16]:
# created list of three records
three_students_record = [
    {"name" : "summi" , "class" :3 , "age" : 8},
    {"name" : "ibbu" , "class" :1 , "age" : 7},
    {"name" : "inu" , "class" :1 , "age" : 6}
]

In [17]:
# code to insert many records
col_students.insert_many(three_students_record)

In [18]:
# find() method to print the inserted records
col_students.find()
for i in col_students.find():
    print(i)

{'_id': ObjectId('63f0f2b5afb0c2f351217e54'), 'name': 'summi', 'class': 3, 'age': 8}
{'_id': ObjectId('63f0f2c1afb0c2f351217e55'), 'name': 'summi', 'class': 3, 'age': 8}
{'_id': ObjectId('63f0f2c1afb0c2f351217e56'), 'name': 'ibbu', 'class': 1, 'age': 7}
{'_id': ObjectId('63f0f2c1afb0c2f351217e57'), 'name': 'inu', 'class': 1, 'age': 6}

In [19]:
# find_one() methods to print the inserted record
col_students.find_one()

{'_id': ObjectId('63f0f2b5afb0c2f351217e54'),
 'name': 'summi',
 'class': 3,
 'age': 8}

Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to
demonstrate this.

Answer 5:
The find() method is used to query data from a MongoDB collection. It takes an optional query parameter that specifies the conditions to match against the documents in the collection.

In [30]:
# a simple code to demonstrate how we can use the find() method to query the MongoDB database

# code to connect MongoDB to Python   
import pymongo
client = pymongo.MongoClient("mongodb+srv://pwskills:pwskills@cluster0.oiv1wbf.mongodb.net/?retryWrites=true&w=majority")
db = client.test

#created a database 'students'
db = client['students']

#created a collection 'total_marks'
col_students = db["total_marks"] 

# created list of three records 
three_students_record = [
    {"name" : "inu" , "class" :1 , "age" : 6},
    {"name" : "summi" , "class" :3 , "age" : 8},
    {"name" : "ibbu" , "class" :1 , "age" : 7}    
]

In [31]:
# inserted records
col_students.insert_many(three_students_record)

In [32]:
# find() method to print the inserted records
col_students.find()
for i in col_students.find():
    print(i)

{'_id': ObjectId('63f0f2c1afb0c2f351217e55'), 'name': 'summi', 'class': 3, 'age': 8}
{'_id': ObjectId('63f0f2c1afb0c2f351217e56'), 'name': 'ibbu', 'class': 1, 'age': 7}
{'_id': ObjectId('63f0f2c1afb0c2f351217e57'), 'name': 'inu', 'class': 1, 'age': 6}
{'_id': ObjectId('63f3884d58f0cb2a044e29a6'), 'name': 'inu', 'class': 1, 'age': 6}
{'_id': ObjectId('63f3884d58f0cb2a044e29a7'), 'name': 'summi', 'class': 3, 'age': 8}
{'_id': ObjectId('63f3884d58f0cb2a044e29a8'), 'name': 'ibbu', 'class': 1, 'age': 7}

Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

In [33]:
# a simple code to demonstrate sorting in MongoDB

# code to connect MongoDB to Python   
import pymongo
client = pymongo.MongoClient("mongodb+srv://pwskills:pwskills@cluster0.oiv1wbf.mongodb.net/?retryWrites=true&w=majority")
db = client.test

#created a database 'students'
db = client['students']

#created a collection 'total_marks'
col_students = db["total_marks"] 

# created list of three records
three_students_record = [
    {"name" : "summi" , "class" :3 , "age" : 8},
    {"name" : "ibbu" , "class" :1 , "age" : 7},
    {"name" : "inu" , "class" :1 , "age" : 6}
]

In [ ]:
# inserted records
col_students.insert_many(three_students_record)

In [34]:
# Sort the records based on age in ascending order
for i in col_students.find().sort("age"):
    print(i)

{'_id': ObjectId('63f0f2c1afb0c2f351217e57'), 'name': 'inu', 'class': 1, 'age': 6}
{'_id': ObjectId('63f3884d58f0cb2a044e29a6'), 'name': 'inu', 'class': 1, 'age': 6}
{'_id': ObjectId('63f0f2c1afb0c2f351217e56'), 'name': 'ibbu', 'class': 1, 'age': 7}
{'_id': ObjectId('63f3884d58f0cb2a044e29a8'), 'name': 'ibbu', 'class': 1, 'age': 7}
{'_id': ObjectId('63f0f2c1afb0c2f351217e55'), 'name': 'summi', 'class': 3, 'age': 8}
{'_id': ObjectId('63f3884d58f0cb2a044e29a7'), 'name': 'summi', 'class': 3, 'age': 8}

In [35]:
# Sort the records based on age in descending order
for i in col_students.find().sort("age", pymongo.DESCENDING):
    print(i)

{'_id': ObjectId('63f0f2c1afb0c2f351217e55'), 'name': 'summi', 'class': 3, 'age': 8}
{'_id': ObjectId('63f3884d58f0cb2a044e29a7'), 'name': 'summi', 'class': 3, 'age': 8}
{'_id': ObjectId('63f0f2c1afb0c2f351217e56'), 'name': 'ibbu', 'class': 1, 'age': 7}
{'_id': ObjectId('63f3884d58f0cb2a044e29a8'), 'name': 'ibbu', 'class': 1, 'age': 7}
{'_id': ObjectId('63f0f2c1afb0c2f351217e57'), 'name': 'inu', 'class': 1, 'age': 6}
{'_id': ObjectId('63f3884d58f0cb2a044e29a6'), 'name': 'inu', 'class': 1, 'age': 6}

Q7. Explain why delete_one(), delete_many(), and drop() is used.

Answer 7: In MongoDB, there are three methods for deleting data: delete_one(), delete_many(), and drop(). Each method serves a different purpose and is used in different scenarios:

delete_one(): This method is used to delete a single document that matches a given criteria. It takes a query object as an argument and deletes the first document that matches the criteria. If there are multiple documents that match the criteria, only the first document will be deleted.

delete_many(): This method is used to delete multiple documents that match a given criteria. It takes a query object as an argument and deletes all the documents that match the criteria. If no documents match the criteria, nothing will be deleted.

drop(): This method is used to drop an entire collection from the database. It permanently removes all documents and indexes from the collection, and cannot be undone. This method is typically used when you no longer need a collection, or when you need to start over with a fresh collection.