Q1. Create a python program to sort the given list of tuples based on integer value using a
lambda function.

In [86]:
list=[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
list.sort(key = lambda x: x[1])                     
print(list)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

In [85]:
list=[(34357,'Sachin Tendulkar'), (27483,'Ricky Ponting'), (25534,'Jack Kallis'), (24936,'Virat Kohli')]
list.sort(key = lambda x: x[0])                     
print(list)

[(24936, 'Virat Kohli'), (25534, 'Jack Kallis'), (27483, 'Ricky Ponting'), (34357, 'Sachin Tendulkar')]

Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using
lambda and map functions.
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
# Using lambda function
l= [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
c=lambda x:x**2
for i in l:
    print(c(i), end=' ')

1 4 9 16 25 36 49 64 81 100

In [6]:
# Using map function
l= [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list(map(lambda x:x**2, l))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and
lambda functions
Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [49]:
# Using map and lambda functions
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
tuple((map(lambda x:str(x), l)))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [37]:
# Using lambda function only
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
c=lambda x:tuple(str(x) for x in l) 
print(c(l))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

Q4. Write a python program using reduce function to compute the product of a list containing numbers
from 1 to 25.

In [57]:
from functools import reduce
l=[]
for i in range(1,26):
    l.append(i)
print(l)
reduce(lambda x,y:x*y, l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

15511210043330985984000000

Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
filter function.
[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [60]:
l=[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
list(filter(lambda x:x%2==0 and x%3==0, l))

[6, 60, 90, 120]

Q6. Write a python program to find palindromes in the given list of strings using lambda and filter
function.
['python', 'php', 'aba', 'radar', 'level']

In [76]:
l=['python', 'php', 'aba', 'radar', 'level']
list(filter(lambda x: (x == "".join(reversed(x))), l))

['php', 'aba', 'radar', 'level']